# Dependencies
node_modules/

# Build
dist/
meta.json

# npm pack
*.tgz
*.tar.gz

# TypeScript Cache
*.tsbuildinfo
tsconfig.tsbuildinfo
tsconfig.test.json

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# System
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json